<h1>Editing infection</h1>

<%= render "form", infection: @infection %>

<br>

<div>
  <%= link_to "Show this infection", @infection %> |
  <%= link_to "Back to infections", infections_path %>
</div>
